.side
  = render partial: "side"

.chat
  .chat-top
    .chat-top__name
      = @group.name
    %input.edit{type: "submit", value: "edit"}
    .chat-top__member
      = @group.users.name

  .chat-main
    = render partial: 'message', collection: @messages

  .chat-form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      / %label.chat-image
      /   %i.fa.fa-image
      / %input.send-button{type: "submit", value: "send"}
