.header
  .topic
  = form_for message do |f|
    - if message.errors.any?
    - group.errors.full_messages'メッセージを入力してください'

.side
  = render partial: "side"

.chat
  .chat-top
    .chat-top__name sample-name
    %input.edit{type: "submit", value: "edit"}
    %p.member MEMBER:sample

  .chat-main
    - 4.times do
      = render partial: "tweet"

  .chat-footer
    .chatbox__footer-form
      = form_for [@group, @message] do |f|
        =f.text_field :content, class: 'text', placeholder: 'type a message'
        .chat-image
          = f.label :image, do
          %i.fa.fa-image
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send--button'

/ .form
/         .form__mask
/           = f.label :image, class: 'form__mask__image' do
/             = fa_icon 'picture-o', class: 'icon'
/             = f.file_field :image, class: 'hidden'
/         = f.submit 'Send', class: 'form__submit'
